<html>
<head>
<title>Validation Service UI</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script type="text/javascript">
            var app = angular.module("Validation", []);

            app.controller("validationController", function($scope, $http) {
               
                $scope.validationResult = [];
                $scope.validationForm = {
                    serviceInput : ""
                };
                
                $scope.submitValidation = function() {
                             
                    $http({
                        method : "POST",
                        url : 'http://localhost:8080/validation-service/validate',
                        data : $scope.validationForm.serviceInput,
                        headers : {
                            'Content-Type' : 'application/json',
                        }
                    }).then(function successCallback(response) {
                        $scope.validationResult = response.data;
                    }, function errorCallback(response) {
                        console.log(response.statusText);
                    });
                };
            });
        </script>
<head>
<body ng-app="Validation" ng-controller="validationController">
<div class="container">
	<h1>Validation Service UI</h1>
	<a target="_blank" href="http://localhost:8080/validation-service/application.wadl" >link to service API</a>
	<form ng-submit="submitValidation()">
		<table class="table">
			<tr>
				<th colspan="2">JSON Validation Data</th>
			</tr>
			<tr>
				<td>Service Input</td>
				<td><textarea ng-model="validationForm.serviceInput" style="width: 100%;"></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit" class="btn btn-primary"/></td>
			</tr>
		</table>
	</form>

	<table class="table" >
		<tr>
			<th>Valid</th>
			<th>Errors</th>
			<th>Transaction</th>
		</tr>
		<tr ng-repeat="validationOutput in validationResult">
			<td style="font-size: 10px;">{{ validationOutput.valid }}</td>
			<td style="font-size: 10px;">{{ validationOutput.errors }}</td>
			<td style="font-size: 10px; width:50%">{{ validationOutput.transactionInput }}</td>
		</tr>
	</table>
	</div>
</body>
</html>